.divNews {
    display: flex;
}
#id1 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 3px solid black;
}
#id2 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(127, 200, 255);
    border: 3px solid black;
}
#id3 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(127, 157, 255);
    border: 3px solid black;
}
#id4 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(234, 127, 255);
    border: 3px solid black;
}
.divTextBtn{
    padding: 20px;
}